.pull-left
  %h4 
    //= date_format(@date)
    Claims Summaries

.pull-right
  = link_to "Export CSV", "/claims_summaries/date_range.csv?#{params.except('action', 'controller', 'commit', 'utf8').to_query}", :target => "_blank", :class => 'btn btn-info'
.clearfix

= render 'index'