= render 'edit_fields'

%script
  if($('#claim_scheme').val() == "aby" || $('#claim_scheme').val() == "jss"){
  $(".claim-reg-no").show();
  $(".relation").show();
  $(".designation").show();
  $(".department").show();
  $(".kgid").show();
  $(".plan-of-treatment").show();
  }